name: Minutes 2 Github

on:
  push:
    branches:
      - main
    paths:
      - '**.html'
      # NB: the path above could be constrained to the directory containing the minutes
      # but the environment variable MINUTES_REPO_PATH is not available here
      # (env variables are only available in the jobs' steps).
      # So to keep this script DRY, we do not filter on the subdirectory.
      # Anyway, the script will stop after the 2nd step if no minutes were added or modified.

jobs:
  minutes_to_gh:
    runs-on: ubuntu-latest

    steps:
    - name: Link minutes to github
      uses: pchampin/action_m2g@main
      with:
        minutes-url-base: "https://pchampin.github.io/test_action/minutes"
        minutes-repo-path: "minutes"
        m2g-token: ${{ secrets.M2G_TOKEN }}
        m2g-channel: rdf-star
        m2g-transcript: true
        m2g-extra-options: --repository pchampin/test_action
