name: Minutes 2 Github

env:
  # customize the env variables below
  MINUTES_URL_BASE: "https://pchampin.github.io/test_action/minutes"  # without trailing slash
  MINUTES_REPO_PATH: "minutes"  # without trailing slash
  M2G_CHANNEL: pmwg
  M2G_GROUP: wg/pm        
  M2G_TRANSCRIPT: "true"  # must be "true" or "false"
  M2G_EXTRA_OPTS: --repository pchampin/test_action

  # IMPORTANT: you must also set up the secret M2G_TOKEN with a token authorized to comment on isses
  M2G_TOKEN: ${{ secrets.M2G_TOKEN }}

  # season to your taste
  M2G_LOG_LEVEL: trace

on:
  push:
    branches:
      - main
    paths:
      - '**.html'
      # NB: the path above could be constrained to the directory containing the minutes
      # but the environment variable MINUTES_REPO_PATH is not available here
      # (env variables are only available in the jobs' steps).
      # So to keep this script DRY, we do not filter on the subdirectory.
      # Anyway, the script will stop after the 2nd step if no minutes were added or modified.

jobs:
  minutes_to_gh:
    runs-on: ubuntu-latest

    steps:
    - name: Link minutes to github
      uses: pchampin/action_m2g@main
      with:
        minutes-base-url: "https://pchampin.github.io/test_action/minutes"  # without trailing slash
        minutes-repo-path: "minutes"  # without trailing slash
        m2g-channel: pmwg
        m2g-group: wg/pm        
        m2g-transcript: "true"  # must be "true" or "false"
        m2g-log-level: trace
        m2g-extra-options: --repository pchampin/test_action
